root { 
    display: block;
}
.root {
	
}

#searchField {
    -fx-background-radius: 25.0;
    -fx-background-insets: 0.0,1.0,2.0,3.0,0.0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 12.0px;
    -fx-padding: 5.0 10.0 5.0 10.0;
}

#scrollPane{
	-fx-background-color: #202020 ;
}



.scroll-pane {
    -fx-background-color:#202020 ;
    -fx-border-color: transparent;
}

.tab-pane *.tab-header-background {
    -fx-background-color: #202020 ;
    -fx-effect: innershadow(two-pass-box , transparent , 0.0, 0.0 , 0.0 , 0.0);
    -fx-border-color: transparent;
    -fx-tab-min-width:200.0px;
    
}

.toolbar{
	 -fx-background-color:transparent;
}


.tab-pane
{
    -fx-tab-min-width:200.0px;
    -fx-tab-min-height:30.0px;
}




.TitledPane{
	 -fx-border-color: transparent;
}

#accordion{
	-fx-border-color: transparent;
	-fx-background-color:#202020 ;
}

#accordion .title{
	
}


.titledPane{
	-fx-border-color: transparent;
	-fx-background-color:#202020 ;
	
}

#filter{
	-fx-background-color:#202020 ;
}

#filter .title{
	-fx-background-color:#202020 ;
}

#filter .title .text{
	-fx-fill: #B8B8B8 ;
}

#borderPane{
	-fx-background-color:#202020 ;
}

#mainGrid{
	-fx-background-color:transparent ;
}

#topPlane{
	-fx-background-color:transparent ;
}

#sideBar{
	-fx-background-color:transparent ;
}

#rightPane{
	-fx-background-color:transparent ;
}

#viewListPane{
	-fx-background-color:transparent ;
}

#test{
	-fx-background-color:transparent ;
}

#growingTabs{
	-fx-background-color:transparent ;
}

#centerStack{
    -fx-background-color:transparent ;
	
}

#tabPanel{    
	-fx-background-color:transparent ;
}
.tab {
	-fx-background-color:transparent ;
	-fx-tab-min-width:200.0px;
	-fx-background-insets: 0.0 1.0 0.0 1.0,0.0,0.0;
	
}

.tab .tab-label { 
    -fx-text-fill: #828282;
    -fx-font-size: 14.0px;
    -fx-font-weight: bold;
}


.tab:selected .tab-label { 
    -fx-text-fill:green;
}

.descriptions{
	-fx-fill: #B8B8B8 ;
	-fx-font-size: 12.0px;
}

.decrText{
	-fx-fill: orange ;
	-fx-font-size: 14.0px;
}

.titles{
	-fx-fill: #B8B8B8 ;
	-fx-font-size: 18.0px;
}

#filterBackground{
	-fx-background-color:transparent ;
}

#filterBox{
	-fx-background-color:transparent ;
}

#settingBtn{
	-fx-background-color:transparent ;
	-fx-graphic: url("settings.png");

}

#popUpButton{
	-fx-background-color:transparent ;
	-fx-graphic: url("back.png");
}
.tab-pane
{
    -fx-tab-min-width:200.0px;
}

#mainSignInBtn {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-radius: 25;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

